/*
Stylesheet
only for the theme
(colors, typeface, etc)
*/


/*
Include a custom font
*/
@font-face{
	font-family: "American Captain";
	src:	local("American Captain"),
			url("../fonts/American Captain.ttf");
}

/* 
Rules
for the body element
*/
body{
	background-color: #001414;
}

/*
Rules with specificity
*/
/*
"Submit" type input
rule
*/
input[type="submit"],
input[type='text'],
input[type='password']{
	color: initial !important;
}

/* 
Rules
for the masthead element
and descendant elements
*/
#masthead{
	background-color: #010F0A;
}

#masthead_title h1 a {
	font-family: "American Captain",serif;
	color: #6CF8F7;
	text-shadow: 2px 2px 1px rgb(0, 0, 0), 2px 2px 2px rgb(0, 255, 255), 3px 3px 1px rgb(0, 0, 0);
}

@media only screen and (max-width: 600px){
	#masthead_title h1 a{
		font-size: 3.6rem;
		letter-spacing: 2px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 980px){
	#masthead_title h1 a{
		font-size: 4.5rem;
		letter-spacing: 3px;
	}
}

@media only screen and (min-width: 981px){
	#masthead_title h1 a{
		font-size: 4.5rem;
		letter-spacing: 4px;
	}
}

.special_show_hide{
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
}

a#newtoold {
		-webkit-box-shadow: -1px -1px 8px 4px rgba(255, 255, 255, 0.8);
		-moz-box-shadow: -1px -1px 8px 4px rgba(255, 255, 255, 0.8);
	box-shadow: -1px -1px 8px 4px rgba(255, 255, 255, 0.8);
}

a#oldtonew {
		-webkit-box-shadow: 2px -1px 8px 3px rgba(255, 255, 255, 0.8);
		-moz-box-shadow: 2px -1px 8px 3px rgba(255, 255, 255, 0.8);
	box-shadow: 2px -1px 8px 3px rgba(255, 255, 255, 0.8);
}

.slicknav_menu{
	background: transparent;
}

.slicknav_menu > *{
	color: #6CF8F7;
}

.slicknav_nav ul{
	margin: 0;
}

#masthead_login{
	color: #31CECB;
}

#masthead_login label{
	font-size: 12px;
}

#masthead_login input[type="submit"] {
  background-color: #4ae2c9;
}

#masthead_login #desc_inline p[class='remember']{
	font-size: 14px;
}

/* 
Rules
for the search input and controls 
container
*/
#search_container{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#010f0a+52,003521+78 */
	background: #010f0a; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MiUiIHN0b3AtY29sb3I9IiMwMTBmMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3OCUiIHN0b3AtY29sb3I9IiMwMDM1MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #010f0a 52%, #003521 78%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(52%,#010f0a), color-stop(78%,#003521)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #010f0a 52%,#003521 78%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #010f0a 52%,#003521 78%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #010f0a 52%,#003521 78%); /* IE10+ */
	background: linear-gradient(to bottom, #010f0a 52%,#003521 78%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010f0a', endColorstr='#003521',GradientType=0 ); /* IE6-8 */	
}

#search_container p{
	color: #6CF8F7;
}

#search_container p.special_show_hide{
	background-color: transparent;
	color: #6CF8F7;
}

#search_container #reset_search{
	background-color: #4ae2c9;
	color: #000;
}

#search_container ul li h5,
#search_input_feedback p{
	color: #6CF8F7;
}

/* 
Rules
for the 'weeks_carousel'
element and descendants
*/

#weeks_carousel_menu{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#60ffbd+30,60ffbd+70&0+0,0.55+15,0.55+85,0+100 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwZmZiZCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iIzYwZmZiZCIgc3RvcC1vcGFjaXR5PSIwLjU1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzYwZmZiZCIgc3RvcC1vcGFjaXR5PSIwLjU1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzYwZmZiZCIgc3RvcC1vcGFjaXR5PSIwLjU1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iIzYwZmZiZCIgc3RvcC1vcGFjaXR5PSIwLjU1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MGZmYmQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(96,255,189,0) 0%, rgba(96,255,189,0.55) 15%, rgba(96,255,189,0.55) 30%, rgba(96,255,189,0.55) 70%, rgba(96,255,189,0.55) 85%, rgba(96,255,189,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(96,255,189,0)), color-stop(15%,rgba(96,255,189,0.55)), color-stop(30%,rgba(96,255,189,0.55)), color-stop(70%,rgba(96,255,189,0.55)), color-stop(85%,rgba(96,255,189,0.55)), color-stop(100%,rgba(96,255,189,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(96,255,189,0) 0%,rgba(96,255,189,0.55) 15%,rgba(96,255,189,0.55) 30%,rgba(96,255,189,0.55) 70%,rgba(96,255,189,0.55) 85%,rgba(96,255,189,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(96,255,189,0) 0%,rgba(96,255,189,0.55) 15%,rgba(96,255,189,0.55) 30%,rgba(96,255,189,0.55) 70%,rgba(96,255,189,0.55) 85%,rgba(96,255,189,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(96,255,189,0) 0%,rgba(96,255,189,0.55) 15%,rgba(96,255,189,0.55) 30%,rgba(96,255,189,0.55) 70%,rgba(96,255,189,0.55) 85%,rgba(96,255,189,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(96,255,189,0) 0%,rgba(96,255,189,0.55) 15%,rgba(96,255,189,0.55) 30%,rgba(96,255,189,0.55) 70%,rgba(96,255,189,0.55) 85%,rgba(96,255,189,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0060ffbd', endColorstr='#0060ffbd',GradientType=1 ); /* IE6-8 */
	border-color: #4AE2C9;
}

#weeks_carousel_menu li {
	font-size: 1.8rem;
	color: rgb(0, 0, 0);
}

#weeks_carousel_menu div.owl-prev, 
#weeks_carousel_menu div.owl-next {
	border-color: rgba(74, 226, 201, 0.5);
	color: #31CECB;
	font-size: 25px;
	border-style: solid;
	border-width: 1px;
	background: transparent none repeat scroll 0% 0%;
}

/*
	Rules for the per_week_list
*/
#per_wk_list li p {
  background-color: #010f0a;
  color: #31cecb;
  font-size: 16px;
}

/*
Rules for the video player section
*/
#video_player_container{
	background: #000 none repeat scroll 0% 0%;
}

@media only screen and (max-width: 700px){
	#video_player_container{
		border-color: transparent;
	}
}

@media only screen and (min-width: 701px){
	#video_player_container{
		border-color: rgba(74, 226, 201, 0.5);
	}
}

/*
	Rules for the info-buttons
*/
#info-buttons div p{
	border-color: rgba(74, 226, 201, 0.5);
	color: #31cecb;
}

/*
Rules for the video_desc_list
*/
#video_desc_list{
		-webkit-box-shadow: 0px -2px 2px 1px rgba(161,208,191,1), 0px 2px 2px 1px rgba(161,208,191,1);
		-moz-box-shadow: 0px -2px 2px 1px rgba(161,208,191,1), 0px 2px 2px 1px rgba(161,208,191,1);
	box-shadow: 0px -2px 2px 1px rgba(161,208,191,1), 0px 2px 2px 1px rgba(161,208,191,1);
}

#video_desc_list li{
	background-color: rgba(201, 255, 234, 0.8);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9ffea+0,c9ffea+100&0+0,0.8+2,0.8+98,0+100 */
}

#video_desc_list li img{
		-webkit-box-shadow: -2px 1px 5px 1px #5C5C5C;
		-moz-box-shadow: -2px 1px 5px 1px #5C5C5C;
	box-shadow: -2px 1px 5px 1px #5C5C5C;
}

#video_desc_list li h5{
	font-weight: bold;
	text-shadow: 1px 1px 1px rgb(163, 163, 163);
}

#video_desc_list li h6{
	font-style: italic;
	text-shadow: 1px 1px 1px rgb(163, 163, 163);
}

#video_desc_list li h3{
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-shadow: -1px 0px 1px rgb(92, 92, 92);
}

#video_desc_list li p{
	text-shadow: 1px 1px 1px rgb(163, 163, 163);
}

#video_desc_list li p span{
	text-shadow: none;
}

/*
	rules for the 
	search information
	sections
*/
#filter_boxes_container,
#search_notifier_top,
#search_notifier_bottom{
	color: #31cecb;
}


/*
Rules for 
the slick 
videos_carousel
*/
#videos_carousel {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#60ffbd+30,60ffbd+70&0+0,0.55+10,0.55+90,0+100 */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwZmZiZCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzYwZmZiZCIgc3RvcC1vcGFjaXR5PSIwLjU1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzYwZmZiZCIgc3RvcC1vcGFjaXR5PSIwLjU1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzYwZmZiZCIgc3RvcC1vcGFjaXR5PSIwLjU1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzYwZmZiZCIgc3RvcC1vcGFjaXR5PSIwLjU1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MGZmYmQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(96,255,189,0) 0%, rgba(96,255,189,0.55) 10%, rgba(96,255,189,0.55) 30%, rgba(96,255,189,0.55) 70%, rgba(96,255,189,0.55) 90%, rgba(96,255,189,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(96,255,189,0)), color-stop(10%,rgba(96,255,189,0.55)), color-stop(30%,rgba(96,255,189,0.55)), color-stop(70%,rgba(96,255,189,0.55)), color-stop(90%,rgba(96,255,189,0.55)), color-stop(100%,rgba(96,255,189,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(96,255,189,0) 0%,rgba(96,255,189,0.55) 10%,rgba(96,255,189,0.55) 30%,rgba(96,255,189,0.55) 70%,rgba(96,255,189,0.55) 90%,rgba(96,255,189,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(96,255,189,0) 0%,rgba(96,255,189,0.55) 10%,rgba(96,255,189,0.55) 30%,rgba(96,255,189,0.55) 70%,rgba(96,255,189,0.55) 90%,rgba(96,255,189,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(96,255,189,0) 0%,rgba(96,255,189,0.55) 10%,rgba(96,255,189,0.55) 30%,rgba(96,255,189,0.55) 70%,rgba(96,255,189,0.55) 90%,rgba(96,255,189,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(96,255,189,0) 0%,rgba(96,255,189,0.55) 10%,rgba(96,255,189,0.55) 30%,rgba(96,255,189,0.55) 70%,rgba(96,255,189,0.55) 90%,rgba(96,255,189,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0060ffbd', endColorstr='#0060ffbd',GradientType=1 ); /* IE6-8 */
}

#videos_carousel li {
	background-color: rgba(255, 255, 255, 0.6);
		-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75) inset;
		-moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75) inset;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75) inset;
}

#videos_carousel li img{
		-webkit-box-shadow: -2px 1px 5px 1px #5C5C5C;
		-moz-box-shadow: -2px 1px 5px 1px #5C5C5C;
	box-shadow: -2px 1px 5px 1px #5C5C5C;
}

#videos_carousel li h5 {
	font-weight: bold;
	line-height: 19px;
	font-size: 12px;
}

#videos_carousel div.owl-prev,
#videos_carousel div.owl-next{
	background: transparent;
	border-color: rgba(74, 226, 201, 0.5);
	color: #31CECB;
	font-size: 14px;
}

#videos_carousel li.loaded{ /*class to identify currently playing video*/
	background-color: rgb(0, 219, 255);
}

/*rule for the videos list*/
#videos_list{
	background-color: transparent;
}

#videos_list li {
	background-color: rgba(201, 255, 234, 0.8);
}

#videos_list li.inplayer{
	background-color: rgb(108, 248, 247);
}

#videos_list li img {
	border-radius: 6px;
		-webkit-box-shadow: -2px 1px 5px 1px #5C5C5C;
		-moz-box-shadow: -2px 1px 5px 1px #5C5C5C;
	box-shadow: -2px 1px 5px 1px #5C5C5C;
}

#videos_list li h5{
	font-weight: bold;
	text-shadow: 1px 1px 1px rgb(163, 163, 163);
}

#videos_list li h6{
	font-style: italic;
	text-shadow: 1px 1px 1px rgb(163, 163, 163);
}

#videos_list li h3 {
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-shadow: -1px 0px 1px rgb(92, 92, 92);
}

#videos_list li p:first-of-type {
	text-shadow: 1px 1px 1px rgb(163, 163, 163);
}

/*rules for back_to_top btn*/
#back_to_top_btn div{
	color: #31CECB;
}

/*
Rules for footer
*/
#footer{
	background-color: #030f02;
	color: #31cecb;
}


/*
Rules for 
user_interface sections 
and 
form_sections
*/

.user_interface_panel{
	background-color: rgba(201, 255, 234, 0.8);
		-webkit-box-shadow:  0px -2px 2px 1px #A1D0BF, 0px 2px 2px 1px #A1D0BF;
		-moz-box-shadow:  0px -2px 2px 1px #A1D0BF, 0px 2px 2px 1px #A1D0BF;
	box-shadow: 0px -2px 2px 1px #A1D0BF, 0px 2px 2px 1px #A1D0BF;
}

.user_interface_panel_login{
	background-color: transparent;
}

.submit,
#cancel a{
	background-color: #91F6BF;
}

#cancel a{
	font-size: 16px;
}

#all_users_list h6{
	font-weight: bold;
}