/*

Main Styling Script

*/


/*
	Rules below heavily rely on
	the Bootstrap Grid Framework
*/


/*
	Rules for the div wrapper
*/
@media only screen and (max-width: 600px){
	#wrapper.container{
		width: 100%;
		margin: 0 auto;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 980px){
	#wrapper.container{
		width: 90%;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (min-width: 981px){
	#wrapper.container{
		width: 80%;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}


/*
	Rules for the masthead
*/
#masthead {
	margin: 0px auto;
	box-sizing: content-box;
	padding: 2.5rem 0px 0px;
}

#masthead_title{
	position: relative;
}

#masthead_title h1{
	margin-top: 0px;
	position: absolute;
	z-index: 4;
}

#masthead_title h1 a:hover,
#masthead_title h1 a:active,
#masthead_title h1 a:focus{
	text-decoration: none;
}

#masthead_title img{
	position: relative;
	z-index: 1;
}

#masthead_login{
	margin-top: 0px;
}

#masthead_login form ul {
	display: block;
	list-style-type: none;
	padding: 0;
}

#masthead_login form ul li{
	display: inline-block;
}

#masthead_login form ul li > *{
	display: block;
}

#masthead_login #desc_inline{
	vertical-align: middle;
}

#masthead_login #desc_inline > *{
	display: inline-block;
}

#masthead_login #desc_inline input[type='submit']{
	border-radius: 6px;
	margin-left: 20px;
}

#masthead_login input[type='text'],
#masthead_login input[type='password']{
	border-radius: 6px;
}

/*
	Rules for the search input section
*/

#search_container {
	border-radius: 0px 0px 8px 8px;
	margin: 0px auto;
	padding-top: 5px;
	text-align: right;
}

#search_container ul{
	list-style-type: none;
	margin-bottom: 5px;
}

#search_container ul *{
	display: inline;
}

#search_container input[type='text']{
	border-radius: 6px;
}

#search_container #reset_search{
	border-radius: 6px;
}

/*
	Rules for the weeks_carousel_menu
*/
#weeks_carousel_container {
  border-color: #4ae2c9;
  border-style: solid;
  border-width: 2px 0;
  margin: 5px 30px;
  padding: 10px 0;
}

#weeks_carousel_menu {
  list-style-type: none;
  margin: 5px 0;
}

#weeks_carousel_menu li {
  text-align: center;
}

/*
	Rules for the per_week_list
*/
#per_wk_list {
  cursor: pointer;
  list-style-type: none;
  margin: 15px 20px;
  padding-left: 0;
  text-align: center;
}

#per_wk_list li{
	display: inline;
}

#per_wk_list li p {
  border-color: #4ae2c9;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin: 0;
  padding: 5px 8px;
}


/*
	Rules for the video player section
*/

 @media only screen and (max-width: 700px){
	#video_player_container{
		width: 100%;
		min-width: 320px;
		height: auto; 
		margin: 3rem auto 2rem;
		padding: 5px 0;
		border-color: transparent;
		border-radius: 0px;
		border-style: none;
		border-width: 0x;
	}
}

@media only screen and (min-width: 701px){
	#video_player_container {
		width: 51.7381%;
		height: auto;
		margin: 3rem auto 2rem;
		padding: 5px;
		border-color: #4ae2c9;
		border-radius: 6px;
		border-style: solid;
		border-width: 1px;
	}
}


/*rule for all slick carousels*/
.slick-list {
	cursor: pointer;
}

/*rule for the videos_carousel*/
#videos_carousel {
	list-style-type: none;
	margin: 0 25px;
	padding-left: 5px;
}

#videos_carousel li {
	background-color: rgba(255, 255, 255, 0.33);
	margin: 0;
	padding: 0;
		-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
}

#videos_carousel li div img {
  border-radius: 4px;
  margin: 8px auto 0;
}

#videos_carousel li p {
  margin: 8px auto 0;
}

#videos_carousel li h5 {
  margin: 6px auto 10px;
}

/*rule for the filter boxes list*/
@media only screen and (max-width: 767px){
	#filter_boxes_container{
		margin: 0 5px;
		padding: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	#filter_boxes_container{
		margin: 0 55px;
		padding: 0 20px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	#filter_boxes_container{
		margin: 0 85px;
		padding: 0 20px;
	}
}

@media only screen and (min-width: 1200px){
	#filter_boxes_container{
		margin: 0 115px;
		padding: 0 20px;
	}
}

@media only screen and (max-width: 767px){
	#filter_boxes{
		margin: 0 -5px;
	}
}

@media only screen and (min-width: 768px){
	#filter_boxes{
		margin: 0 -15px;
	}
}

#filter_boxes{
	list-style-type: none;
	padding: 0;
}

#filter_boxes li{
	display: inline-block;
}

#filter_boxes li label{
	margin-left: 10px;
}

@media only screen and (max-width: 767px){
	#filter_boxes li label{
		font-size: 12px;
	}
}

@media only screen and (min-width: 768px){
	#filter_boxes li label{
		font-size: inherit;
	}
}

/*
Rules for the search_info_container element
*/
@media only screen and (max-width: 767px){
	.search_info_container{
		margin: 0 5px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.search_info_container{
		margin: 0 55px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	.search_info_container{
		margin: 0 85px;
	}
}

@media only screen and (min-width: 1200px){
	.search_info_container{
		margin: 0 115px;
	}
}

/*
Rules for the videos list
*/
@media only screen and (max-width: 767px){
	#videos_list_container{
		margin: 0 5px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	#videos_list_container{
		margin: 0 55px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	#videos_list_container{
		margin: 0 85px;
	}
}

@media only screen and (min-width: 1200px){
	#videos_list_container{
		margin: 0 115px;
	}
}

#videos_list{
	list-style-type: none;
	margin-top: 10px;
	padding-left: 0;
	padding-right: 0;
	overflow: auto;
}

#videos_list li {
	border: 1px solid;
	padding-bottom: 0;
	padding-top: 30px;
}

#videos_list li img,
#videos_list li h3{
	cursor: pointer;
}

#videos_list li img {
	float: left;
	margin-right: 8px;
}

#videos_list li h3 {
	margin-bottom: 5px;
	margin-top: 10px;
}

#videos_list li p:first-of-type {
  margin-bottom: 1px;
}

#videos_list li p span.tag {
  margin-left: 15px;
}

#videos_list li p:last-of-type {
  margin-bottom: 15px;
}

#videos_list li p a:first-of-type {
  margin-right: 15px;
}

/*
Rules for back to top button
*/
#back_to_top_btn div {
  margin: 0 45px;
  text-align: right;
  width: 100%;
}

#back_to_top_btn p {
  margin-right: 75px;
}

/*
Rules for footer
*/
#footer{
	padding: 20px 0;
}

#footer-ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}