/*

Main Styling Script

*/


/*
	Rules below heavily rely on
	the Bootstrap Grid Framework
*/

/*
	Rules for the ajax loading image
*/

.ajx_loader {
	display: none;
	left: 50%;
	margin-left: -150px;
	position: absolute;
	top: 33.33%;
	text-align: center;
	z-index: 25;
	border-radius: 8px;
}

/*
	Rules for the div class header
*/
.header.container-fluid{
	padding: 0;
}

/*
	Rules for the div wrapper
*/
@media only screen and (max-width: 600px){
	#wrapper.container{
		width: 100%;
		margin: 0 auto;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 980px){
	#wrapper.container{
		width: 90%;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (min-width: 981px){
	#wrapper.container{
		width: 80%;
		margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}


/*
	Rules for the masthead
*/
#masthead {
	margin: 0px auto;
	box-sizing: content-box;
	padding: 2.5rem 0px 0px;
}

#masthead_title{
	position: relative;
}

#masthead_title h1{
	margin-top: 0px;
	position: absolute;
	z-index: 4;
}

#masthead_title h1 a:hover,
#masthead_title h1 a:active,
#masthead_title h1 a:focus{
	text-decoration: none;
}

#masthead_title img{
	position: relative;
	z-index: 1;
}

a#newtoold {
	border-radius: 8px 2px 2px 8px;
	border-style: solid;
	border-width: 1px;
	margin-left: 6px;
	padding: 1px 5px 1px 10px;
}

a#oldtonew {
	border-radius: 2px 8px 8px 2px;
	border-style: solid;
	border-width: 1px;
	margin-left: 4px;
	padding: 1px 10px 1px 5px;
}

.slicknav_menu {
	margin-left: 10px;
}

.slicknav_menu input[type='submit']{
	border-radius: 6px;
}

@media only screen and (max-width: 767px){
	.slicknav_menu{
		display: block;
	}
	#login_splash article#normal_login{
		display: none;
	}
}

@media only screen and (min-width: 768px){
	.slicknav_menu{
		display: none;
	}
	#login_splash article#normal_login{
		display: block;
	}
}

.slicknav_nav form ul:nth-child(2){
	display: inline-block;
	margin-top: 10px;
}

#masthead_login{
	margin-top: 0px;
}

#login_splash {
	margin-top: 10px;
}

#masthead_login form ul {
	display: block;
	list-style-type: none;
	padding: 0;
}

#masthead_login form ul li{
	display: inline-block;
}

#masthead_login form ul li > *{
	display: block;
}

#masthead_login #desc_inline{
	vertical-align: middle;
}

#masthead_login #desc_inline > *{
	display: inline-block;
}

#masthead_login #desc_inline input[type='submit']{
	border-radius: 6px;
	margin-left: 20px;
}

#masthead_login input[type='text'],
#masthead_login input[type='password']{
	border-radius: 6px;
}

/*
	Rules for the search input section
*/

#search_container {
	margin: 0px auto;
	padding-top: 5px;
}

@media only screen and (max-width: 767px){
	#search_container ul{
		margin-left: 15px;
	}
}

#search_container ul{
	list-style-type: none;
	margin-bottom: 5px;
}

#search_container ul *{
	display: inline;
}

#search_container input[type='text']{
	border-radius: 6px;
}

#search_container #reset_search{
	border-radius: 6px;
}

/*
	Rules for the weeks_carousel_menu
*/
#weeks_carousel_container {
    margin: 5px 50px;
}

#weeks_carousel_menu {
	border-style: solid;
	border-width: 2px 0px;
	list-style-type: none;
	margin: 5px 0px;
	padding: 2px 0px;
	position: relative;
}

#weeks_carousel_menu div.owl-wrapper-outer{
	margin-bottom: -4px;
	padding-top: 8px;
}

#weeks_carousel_menu div.owl-prev, 
#weeks_carousel_menu div.owl-next {
	position: absolute;
	top: -5px;
}

#weeks_carousel_menu div.owl-prev {
	left: -25px;
}

#weeks_carousel_menu div.owl-next {
	right: -25px;
}

#weeks_carousel_menu li {
	cursor:pointer;
	text-align: center;
}

/*
	Rules for the per_week_list
*/
#per_wk_list {
  cursor: pointer;
  list-style-type: none;
  margin: 15px 20px;
  padding-left: 0;
  text-align: center;
}

#per_wk_list li{
	display: inline;
}

#per_wk_list li p {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin: 0;
  padding: 5px 8px;
}


/*
	Rules for the video player section
*/

 @media only screen and (max-width: 700px){
	#video_player_container{
		width: 100%;
		min-width: 320px;
		height: auto; 
		margin: 1.6rem auto 0px;
		padding: 5px 0;
		border-radius: 0px;
		border-style: none;
		border-width: 0x;
	}
}

@media only screen and (min-width: 701px){
	#video_player_container {
		width: 51.7381%;
		height: auto;
		margin: 1.6rem auto 0px;
		padding: 5px;
		border-radius: 6px;
		border-style: solid;
		border-width: 1px;
	}
}

/*
	Rules for the info-buttons
*/

#showinfo{
	margin-bottom: 10px;
}

#info-buttons {
	text-align: center;
	margin: 0;
}

#info-buttons div{
	cursor: pointer;
}

#info-buttons div p{
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	margin: 0px;
	padding: 5px 8px;
}

/*
Rules for the video_desc_list
*/
@media only screen and (max-width: 767px){
	#video_desc_list_container{
		margin: 2px 5px 0px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	#video_desc_list_container{
		margin: 2px 55px 0px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	#video_desc_list_container{
		margin: 2px 85px 0px;
	}
}

@media only screen and (min-width: 1200px){
	#video_desc_list_container{
		margin: 2px 115px 0px;
	}
}

#video_desc_list {
	border: 1px none;
	border-radius: 8px;
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
	overflow: auto;
}

#video_desc_list li {
	padding-bottom: 0;
	padding-top: 10px;
}

#video_desc_list li img,
#video_desc_list li h3{
	cursor: pointer;
}

#video_desc_list li img {
	border-radius: 6px;
	float: left;
	margin-right: 8px;
}

#video_desc_list li h3 {
	margin-bottom: 0px;
	margin-top: 10px;
}

#video_desc_list li p:first-of-type {
  margin-bottom: 1px;
}

#video_desc_list li p span.tag {
  margin-left: 15px;
}

#video_desc_list li p:last-of-type {
  margin-bottom: 5px;
}

#video_desc_list li p a:first-of-type {
  margin-right: 15px;
}

/*rule for all slick carousels*/
.slick-list {
	cursor: pointer;
}

/*rule for the videos_carousel*/
#videos_carousel {
	list-style-type: none;
	margin: 0 25px 0 0;
	padding-left: 0px;
	position: relative;
}

#videos_carousel li {
	border-radius: 5px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#videos_carousel li img {
	border-radius: 4px;
	margin: 10px auto 5px;
	max-width: 150px;
}

#videos_carousel li p {
	margin: 5px 15px 0px;
}

#videos_carousel li img,
#videos_carousel li h5{
	cursor: pointer;
}

#videos_carousel li h5{
	margin: 0px 8px 12px 15px;
}

#videos_carousel li h6{
	margin: 0 0 10px;
}

#videos_carousel div.owl-prev, 
#videos_carousel div.owl-next {
	border-style: solid;
	border-width: 1px;
	bottom: -35px;
	position: absolute;
}

#videos_carousel div.owl-prev {
	border-radius: 15px 4px 4px 15px;
	left: 25px;
	padding: 0px 5px 6px 10px;
}

#videos_carousel div.owl-next{
	border-radius: 4px 15px 15px 4px;
	padding: 0px 10px 6px 5px;
	right: 25px;
}

#videos_carousel div.owl-prev p:first-of-type, 
#videos_carousel div.owl-next p:last-of-type {
	display: inline-block;
	margin-bottom: 0px;
	vertical-align: middle;
}

#videos_carousel div.owl-prev p:last-of-type, 
#videos_carousel div.owl-next p:first-of-type {
	display: inline-block;
	margin-bottom: 0px;
	vertical-align: -4px;
}

/*rule for the filter boxes list*/
@media only screen and (max-width: 767px){
	#filter_boxes_container{
		margin: 40px 5px 0px;
		padding: 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	#filter_boxes_container{
		margin: 40px 55px 0px;
		padding: 0 20px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	#filter_boxes_container{
		margin: 40px 85px 0px;
		padding: 0 20px;
	}
}

@media only screen and (min-width: 1200px){
	#filter_boxes_container{
		margin: 40px 115px 0px;
		padding: 0 20px;
	}
}

@media only screen and (max-width: 767px){
	#filter_boxes{
		margin: 0px -5px;
	}
}

@media only screen and (min-width: 768px){
	#filter_boxes{
		margin: 0px -15px;
	}
}

#filter_boxes{
	list-style-type: none;
	padding: 0;
}

#filter_boxes li{
	display: inline-block;
}

#filter_boxes li label{
	margin-left: 10px;
}

@media only screen and (max-width: 767px){
	#filter_boxes li label{
		font-size: 12px;
	}
}

@media only screen and (min-width: 768px){
	#filter_boxes li label{
		font-size: inherit;
	}
}

/*
Rules for the search_info_container element
*/

@media only screen and (max-width: 767px){
	.search_info_container{
		margin: 0 5px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.search_info_container{
		margin: 0 55px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	.search_info_container{
		margin: 0 85px;
	}
}

@media only screen and (min-width: 1200px){
	.search_info_container{
		margin: 0 115px;
	}
}

.search_stats{
	margin-top: 20px;
}

div.pages_info.show_hide.row{
	margin: 0px;
}

div.prevPgBtnDiv,
div.nextPgBtnDiv{
	cursor: pointer;
}

@media only screen and (max-width: 767px){
	div.pages_info p.show_hide{
		text-align: left;
	}
	div.pages_info div.nextPgBtnDiv p.nextPgBtn{
		text-align: left;
	}
}

@media only screen and (min-width: 768px){
	div.pages_info p.show_hide{
		text-align: center;
	}
	div.pages_info div.nextPgBtnDiv p.nextPgBtn{
		text-align: right;
	}
}

/*
Rules for the videos list
*/
@media only screen and (max-width: 767px){
	#videos_list_container{
		margin: 0 5px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	#videos_list_container{
		margin: 0 55px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
	#videos_list_container{
		margin: 0 85px;
	}
}

@media only screen and (min-width: 1200px){
	#videos_list_container{
		margin: 0 115px;
	}
}

#videos_list{
	list-style-type: none;
	margin-top: 40px;
	padding-left: 0;
	padding-right: 0;
	overflow: auto;
}

#videos_list li {
	border: 1px solid;
	padding-bottom: 0;
	padding-top: 15px;
}

#videos_list li img,
#videos_list li h3{
	cursor: pointer;
}

#videos_list li img {
	float: left;
	margin-right: 8px;
}

#videos_list li h3 {
	margin-bottom: 5px;
	margin-top: 10px;
}

#videos_list li p:first-of-type {
  margin-bottom: 1px;
}

#videos_list li p span.tag {
  margin-left: 15px;
}

#videos_list li p:last-of-type {
  margin-bottom: 10px;
}

#videos_list li p a:first-of-type {
  margin-right: 15px;
}

/*
Rules for back to top button
*/
#back_to_top_btn div {
	margin: 0 45px;
	text-align: right;
	width: 100%;
}

#arrow {
	cursor: pointer;
	border-radius: 6px;
	border-style: solid;
	border-width: 1px;
	padding: 2px 10px;
}

/*
Rules for footer
*/
#footer{
	padding: 20px 0;
}

#footer-ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

/*
Rules for 
user_interface sections 
and 
form_sections
*/

#add_new_video_btn{
	margin: 0px 50px;
}

.user_interface.row,
.user_interface_panel_login.row{
	margin-left: 0px;
	margin-right: 0px;
}

@media only screen and (max-width: 767px){
	.user_interface_panel_login.row{
		margin-top: 0px;
	}
}

@media only screen and (min-width: 768px){
	.user_interface_panel_login.row{
		margin-top: 30px;
	}
}

.user_interface_panel{
	border-radius: 6px;
	margin: 10px 0;
}

.user_interface_panel p{
	margin-top: 10px;
	margin-bottom: 5px;
}

.user_interface_panel label,
.user_interface_panel #select_inputs{
	display: block;
}

.user_interface_btn{
	margin-bottom: 10px;
}

.field{
	margin-bottom: 15px;
}

form div.field:last-of-type{
	margin-bottom: 40px;
}

form div.field:last-of-type > *{
	display: inline;
	vertical-align: middle;
}

#cancel{
	margin-bottom: 20px;
}

.submit{
	border-style: solid;
	border-width: 1px;
}

#cancel a{
	border-style: solid;
	border-width: 1px;
	margin-left: 15px;
	padding: 1px 6px;
}

.user_interface_btn{
	margin-bottom: 30px;
}

/* error ('phpnotif') */
.phpnotif{
	font-style: italic;
}